body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  padding: 10vh 10vw;
  margin: 0;
  text-align: center;
  font-size: 4em;
  background-color: rgb(71, 180, 144, 0.5);
  color: white;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  
}
ul {
  margin: 50px;
}
ol {
  margin: 50px;
}
li {
  padding: 10px 30px;
}
li:hover {
  background-color: rgb(71, 180, 144, 0.5);
}
table {
  margin: 50px;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
tr {
  background-color: lightgray;
}
tr:hover {
  background-color: rgb(71, 180, 144, 0.5);
}
th, td {
  padding: 20px;
  text-align: center;
}

img {
  margin: 50px;
}

a {
  padding: 10px 30px;
  background-color: rgb(71, 180, 144, 0.5);
  text-decoration: none;
  color: white;
  
}

a:hover {
  background-color: darkgrey;
}
